@import "tailwindcss";

@theme {
	--color-text: #040617;
	--color-background: #fafafe;
	--color-primary: #3438d9;
	--color-secondary: #eb92a0;
	--color-accent: #e29f62;

	--color-text-50: #040616;
	--color-text-100: #080b2b;
	--color-text-200: #0f1657;
	--color-text-300: #172282;
	--color-text-400: #1f2dad;
	--color-text-500: #2638d9;
	--color-text-600: #5260e0;
	--color-text-700: #7d88e8;
	--color-text-800: #a8aff0;
	--color-text-900: #d4d7f7;
	--color-text-950: #e9ebfb;

	--color-background-50: #040415;
	--color-background-100: #08082b;
	--color-background-200: #111155;
	--color-background-300: #191980;
	--color-background-400: #2222aa;
	--color-background-500: #2a2ad5;
	--color-background-600: #5555dd;
	--color-background-700: #7f7fe6;
	--color-background-800: #aaaaee;
	--color-background-900: #d4d4f7;
	--color-background-950: #eaeafb;

	--color-primary-50: #040415;
	--color-primary-100: #08092b;
	--color-primary-200: #101156;
	--color-primary-300: #181a81;
	--color-primary-400: #2123ab;
	--color-primary-500: #292cd6;
	--color-primary-600: #5456de;
	--color-primary-700: #7e80e7;
	--color-primary-800: #a9aaef;
	--color-primary-900: #d4d5f7;
	--color-primary-950: #eaeafb;

	--color-secondary-50: #160407;
	--color-secondary-100: #2b080d;
	--color-secondary-200: #56101a;
	--color-secondary-300: #811828;
	--color-secondary-400: #ac2035;
	--color-secondary-500: #d72842;
	--color-secondary-600: #df5368;
	--color-secondary-700: #e77e8e;
	--color-secondary-800: #efa9b3;
	--color-secondary-900: #f7d4d9;
	--color-secondary-950: #fbe9ec;

	--color-accent-50: #160c04;
	--color-accent-100: #2b1908;
	--color-accent-200: #563210;
	--color-accent-300: #814b18;
	--color-accent-400: #ac6420;
	--color-accent-500: #d77d28;
	--color-accent-600: #df9753;
	--color-accent-700: #e7b17e;
	--color-accent-800: #efcba9;
	--color-accent-900: #f7e5d4;
	--color-accent-950: #fbf2e9;
}

.material-symbols-outlined {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 24;
}
